*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*use karte hain, to jo width aapne set ki hai, element utna hi bada rahega. Padding aur border ab element ke "andar" ki taraf se adjust hote hain, bahar ki taraf nahi. */

}


body{
    background-color: #121212; 
    color: white;
    display:flex;
    justify-content:center;
    padding-top:50px;


}
.container {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color: rgb(104, 69, 243);
}

.search-area {
    margin-bottom: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
#song-input {
    width: 70%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 16px;
}

#search-btn{
    padding:12px 25px;
    border-radius:25px;
    border: none;
    background-color: rgb(104, 69, 243);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#search-btn:hover{
     background-color:  rgb(77, 36, 242);
    transform: scale(1.05);

}

.result-area{

    margin-top:20px;
    background-color: #181818;
    border-radius: 10px;
    overflow: hidden;


}

table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    background-color: #282828;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #333;
}

th {
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

tr:hover {
    background-color: #2a2a2a;
}

/* Jab table khali ho toh styling */
#table-body:empty::after {
    content: "No results found. Please search for a song.";
    display: block;
    padding: 20px;
    color: #b3b3b3;
    text-align: center;
}